<div class="welcome">
  <div class="hello">
    <h1>Welcome to the Hello World!</h1>
    <h2>Your journey to learning Angular starts here 🚀</h2>

    <button class="go-to-form-button">
      <a routerLink="/studentform">🚀 Go to Student Form</a>
    </button>

    <p class="footer-text">Made with ❤️ Deepika | Angular Rocks!</p>
  </div>
</div>

<router-outlet></router-outlet>

<!--<div class="welcome">
    <div class="hello">
      <h1>Welcome to the Hello World!</h1>
      <button class="go-to-form-button">
        <a routerLink="/studentform">Go to Student Form</a>
      </button>
      
      
    </div>
  </div>
  <router-outlet></router-outlet>-->